@import 'default.scss';
@import 'mixins.scss';
@import 'other-styles.scss';

body {
    font-family: 'Fredoka', sans-serif;
    color: #000;

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    overflow-x: hidden;
}


.container {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

//work

.page-header {

    .header-sup {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 4.7em;
        align-items: center;
        margin-bottom: 50px;

        .header-logo {
            display: inline-block;
            position: relative;
            margin-left: 15px;
            &__link {
                display: flex;
                justify-content: center;
                align-items: center;    
                gap: 15px;

                

                &:active {
                    transform: scale($clickScale);
                }
            }

            &__name {
                margin-bottom: 0.15em;
            }

            &__tip {
                display: flex;
                gap: 15px;
                transform: rotate(-15deg) scale(0.3);
                position: absolute;
                right: -90px;
                top: -10px;
            }
        }//header-logo


        .header-nav {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-self: center;
            width: 100%;
            
            &__link {
                flex-grow: 1;
                font-weight: $fontWeight;
                text-transform: capitalize;
                text-align: center;

                padding: 0.65em 1em;
                
                outline: 1px solid #000;
                @extend %borderRadius;
                
                cursor: pointer;

                transition: .3s all;
                &:hover {
                    background-color: rgba(0,0,0,0.05);
                }
                &:active {
                    transform: scale($clickScale);
                }

                &.modal {
                    font-family: 'Fredoka', sans-serif;
                    font-size: 1em;
                }
            }
        }//header-nav
    }//header-sup
}//page-header

.page-main {
    &__sup {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center !important;

        width: 100%;
        margin-bottom: 50px;
        &__title {
            font-size: 2.5em;
            margin-bottom: 5px;
        }
        &__info {
            color: $textColor;
        }
    }//generator__sup
}//generator


.generator {
    .generator-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        padding: 0.4em 1.1em;  
        margin-bottom: 3.5em;  
    }
    .generator__col1 {
        display: flex;
        flex-direction: column;
        align-items: center;
                

        &__title {
            font-size: 2em;
            margin-bottom: 1em;
        }



        &__params {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.4em;
            margin-bottom: 3.5em;
        }

        &__param {
            padding: 0.65em 1.4em;
            margin-bottom: 0.6em;
            border: 8px solid;
            @extend %borderRadius;

            color: $textColor;

            font-weight: $fontWeightSemiBold;
            text-transform: uppercase;
            text-align: center;

            cursor: pointer;
            @extend %uncopyable;
                        
            background-color: rgba(0,0,0,0.25);
            border-color: $textColor;

            &.hud {
                &.active {
                    background-color: rgba(213, 43, 30, 0.5);
                    border-color: rgba(213, 43, 30, 0.7);    
                }
            }
            &.guns {
                &.active {
                    background-color: rgba(249, 227, 0, 0.5);
                    border-color: rgba(249, 227, 0, 0.7);    
                }
            }
            &.modules {
                &.active {
                    background-color: rgba(0, 121, 52, 0.5);
                    border-color: rgba(0, 121, 52, 0.7); 
                }
            }
        }    
                

        &__btn {
            text-transform: uppercase;
            font-weight: $fontWeightSemiBold;
            font-size: 1.3em;

            padding: 1em 1.5em;

            color: $textColor;
            background-color: rgba(0,0,0,0.25);

            outline: 8px solid $textColor;
            @extend %borderRadius;

            &:active {
                transform: scale($clickScale);
                background-color: rgba(255, 0, 0,0.3);
                outline-color: rgba(255, 0, 0,0.6);
            }
        }
    }

    .generator__col2 {
        display: inline-block;
        width: 100%;
        &__image {
            width: auto;
            max-width: 100%;
            height: 350px;
            margin: 0 auto 1.2em;
            background-color: rgba(0,0,0,0.05);
            background-size: cover;
        }

                
        &__info {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            &__wrapper {
                display: flex;
                justify-content: center;
            }
                    

            .generator__col2-info__sup {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2em;

                width: 100%;

                margin-bottom: 0.9em;
                
                border-bottom: 2px solid #000;
                &__info {
                    word-wrap: break-word;
                    padding: 0.5em;
                }

                &__info.location {
                    border-right: 2px solid #000;
                    padding: 1.2em;
                    padding-right: 2em;
                    margin-left: 1em;
                }

                &__info.task {
                    margin-right: 1em;
                }
            }//info-sup 

            .generator__col2-info__sub {
                align-self: start;
                display: flex;
                flex-direction: column;
                width: 100%;

                &__list {
                    display: flex;
                    flex-direction: column;
                    gap: $listGap;
                    width: 100%;

                    padding-left: 0.5em;
                    margin-bottom: 1.2em;

                    &__item {
                        font-weight: $fontWeightSemiBold;
                        text-transform: capitalize;

                        &__LIST {
                            display: flex;
                            flex-direction: column;
                            gap: $listGap;
                        }
                    }//sub-list__item

                    &::after {
                        content: "";

                        width: 100%;
                        height: 2px;

                        margin-top: 0.5em;

                        background: #000;
                    }
                }//sub-list
            }//generator-col2__sub
        }//generator-col2_info
    }//generator-col2
}//generator__main
    

.page-footer {
    &__sup {
        border-top: 1px solid $textColor;
        text-align: center;

        &__title {
            display: block;
            margin-top: 0.6em;

            &__link {
                text-decoration: underline;
            }
        }
    }//page-sup
}//page-footer


@media (max-width:$laptop) {
    .generator-item {
        grid-template-columns: none !important;   
        grid-template-rows: auto 1fr !important;
        justify-content: center;

        .generator__col1 {
            margin-bottom: 2em;
        }

        .generator__col2-info__sub__list {
            text-align: center;
        }
    }//generator-item
}//laptop responsive

@media (max-width:$tablet) {
    .header-sup {
        grid-template-columns: none !important;   
        grid-template-rows: auto 1fr !important; 
        gap: 1em !important;   
    }

    .header-logo {
        &__tip {
            display: none !important;    
        }
    }

    .generator__col2__image {
        //max-width: 90% !important;
        background-position: 30%;
    }
}//tablet responsive

@media (max-width:$mobile_L) {
    .header-nav {
        flex-direction: column;
        &__link.modal {
            display: none !important;
        }
    }

    .generator__col2 {
        &-info__sup {
            flex-direction: column;
            gap: 0.5em !important;
            text-align: center;

        }
    }//generator__col2

    .generator__col2-info__sup {
        &__info {
            padding: 0.2em 1em !important;
        } 

        &__info.location {
            margin-left: 0 !important;
            border-right: 0!important;
            border-bottom: 2px solid #000;
        }

        &__info.task {
            margin-right: 0 !important;
        }
    }//col2__info__sup
    
}//mobile_L responsive

@media (max-width:$mobile_M) {
    .header-logo {
        margin-left: 0 !important;

        &__link {
            align-items: center;
            flex-direction: column;
            gap: 0 !important;
        }
    }
    .generator__col2__image {
        //max-width: 80% !important;
        background-position: center;
    }
}//mobile_M responsive

//@media (max-width:$mobile_S) {
//}//mobile_S responsive





















